@tailwind base;
@tailwind components;
@tailwind utilities;



.map-label-transparent {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;

    /* Teks Putih dengan Outline Hitam Halus */
    color: #ffffff !important;
    -webkit-text-fill-color: #ffffff !important;
    font-weight: 600 !important;
    font-size: 14px;

    /* Teknik stroke terbaik: stroke di belakang fill */
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;

    text-align: center;
    white-space: nowrap;
}

/* Hide the little triangle/arrow of the tooltip */
.map-label-transparent::before {
    display: none !important;
}

.marker-red {
    filter: hue-rotate(150deg) brightness(0.9) saturate(1.5);
}